*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

:root{
    --bgColorGreen: #66E892;
    --bgColorRed: #FC4C4C;
    --bgColorYellow: #D6C73F;
    --bgColorBlack: #000000;
    --bgColorGrey: #D9D9D9;
    --bgColorPurple: #404EED;
}

body{
    font-family: 'Poppins', sans-serif;
}

a{
    text-decoration: none;
}

/* Header Start */
header{
    background-color: var(--bgColorGreen);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 10%;
    background-color: #3161E0;
}



nav ul{
    list-style-type: none;
}

nav ul li{ 
    color:white;
    display: inline-block;
    margin-inline: 30px;
}

header a[href="#"]{
    background-color: white;
    color: black;
    padding: 10px 15px;
    border-radius: 30px;
    font-weight: 600;
}


/* Hero Start */
main .hero{
    display: flex;
    justify-content: center;
    align-items: center;
    
    background-image: url(./img/jumbo.png);
    background-size: cover;
    height: 90vh;
}

.hero .title-p-container{
    display: flex;
    
    align-items: center;
    flex-direction: column;
    gap: 50px;
    width: 40%;
}

.hero .title-p-container .title{
    color: white;
    font-size: 55px;
}

.hero .title-p-container p{
    text-align: center;
    color: white;
    font-size: 20px;
}

.hero .title-p-container .cta-container-flex{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 2em;
}

.hero .title-p-container .cta-container-flex button:first-child{
    background-color: white;
    color: #000000;
    padding: 20px 20px;
    border: none;
    border-radius: 50px;
    font-size: 16px;
    font-weight: 600;
}

.hero .title-p-container .cta-container-flex button:first-child i{
    margin-right: 10px;
}

.hero .title-p-container .cta-container-flex button:last-child{
    background-color: #23272A;
    color: white;
    padding: 20px 20px;
    border: none;
    border-radius: 50px;
    font-size: 16px;
    font-weight: 600;
}

/* First Section Start */
.sections-flex{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 100vh;
}
 
.sections-flex img{
    width: 800px;
}

.description-container{
    display: flex;
    flex-direction: column;
    align-items: center;

    width: 400px;
    height: 500px; 
}

.description-container h2{
    margin-bottom: 20px;
    font-size: 50px;
    line-height: 65px;
}

.description-container p{
   font-size: 20px;
   margin-left: 10px;
}


/* Second Section */
.second-section{
    display: flex;
    flex-direction: row-reverse;
    
    background-color: #F6F6F6;
}

.second-section .description-container{
    
    width: 500px;
    height: 300px;
}

/* CTA Section start */
.cta-section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    background-color: #F6F6F6;
    gap: 60px;
    padding-block: 200px;
}

.cta-section :nth-child(1){
    font-size: 50px;
    text-align: center;
}

.cta-section :nth-child(2){
    font-size: 20px;
    font-weight: 500;

    text-align: center;
    width: 60%;
}

.cta-section :nth-child(3){
    width: 1200px;
}

.cta-section :nth-child(4){
    text-align: center;
    font-size: 30px;
}

.cta-section :nth-child(5){
    font-size: 20px;
    font-weight: 500;
    padding: 20px 30px;
    border: none;
    border-radius: 50px;
    background-color: #8EA1E1;
    color: white;
}

.cta-section :nth-child(5) i{
    font-size: 20px;
    margin-right: 10px;
}

footer{
    display: flex;
    align-items: center;
    justify-content: space-evenly;

    height: 60vh;
    background-color: #23272A;
}

/* Footer Contatti */
footer .contatti{
    display: flex;
    flex-direction: column;
    
    gap:20px;
    
    color: white;
    width: 200px;
    height: 200px;
}

footer .contatti p{
    background-color: var(--bgColorGrey);
    width: 60%;
    height: 20px;
}

footer .contatti h2{
    color: #7289DA;
}

footer .contatti ul{
    list-style-type: none;
}

footer .contatti ul li{
    display: inline-block;
}

footer .contatti ul li i{
    font-size: 20px;
    padding: 5px;
    color: white;
}

/* Colonne */
footer .col{
    display: flex;
    flex-direction: row;
    
    
    gap: 100px;
}

footer .col ul{
    list-style-type: none;
}

footer .col ul h3{
    color: #7289DA;
}

footer .col ul li{
    color: white;
}

hr{
    background-color:#7289DA;
    border: none;
    height: 1px;
    width: 70%;
    margin: 0 auto;
}

.last-section{
    display: flex;
    justify-content: space-between;
    text-align: center;

    background-color: #23272A;
    padding: 20px 15%;
}

.last-section a[href="#"]{
    color: white;
    padding: 10px 20px;
    border-radius: 50px;
    background-color: #8EA1E1;
}